* {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9vw;
  line-height: 35px;
  text-align: center;
}
.headerdiv {
  border: 1px solid red;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logodiv {
  margin-left: 65px;
  display: flex;
  align-items: center;
}
.navdiv ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.navdiv ul li {
  margin-right: 65px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  * {
    color: red;
  }
  .navdiv ul li {
    margin-right: 38px;
  }
  .logodiv {
    margin-left: 38px;
  }
  .headerdiv{
    height: 70px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  * {
    color: green;
  }
  .headerdiv{
    height: 35px;
  }
  .navdiv ul li {
    margin-right: 1.4vw;
  }
  .logodiv {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .logodiv img {
    width:50%;
}
}